html body {
  background-color: black;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

@font-face {
  font-family: "BrokenHeart";
  src: url("static/BrokenHeart.ttf");
}

h1 {
  font-family: "BrokenHeart";
  font-size: 70px;
  text-align: center;
  margin-bottom: 1.5rem;
}

h3 {
  text-align: center;
}

.banner {
  text-align: center;
}

.banner img {
  width: 40vw;
  margin: 1rem;
}

.custom-center {
  margin: 0 auto;
}

nav li {
  width: 15vw;
  text-align: center;
}

.active {
  font-weight: 400;
}

p {
  font-size: 1.2rem;
}

.cont {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2rem 5rem;
  margin: 3rem auto;
  border-radius: 5px;
  width: 50%;
  text-align: center;
}

.textCont {
  padding-bottom: 3rem;
}

.sponsorCont {
  text-align: center;
  margin-bottom: 1rem;
  padding: 2rem 2rem;
}

.sponsorCont img {
  width: 120px;
  margin: 10px 20px 0;
  justify-content: center;
}

.sponsorCont h2 {
  margin-bottom: 20px;
}

.topSpacing {
  margin-top: 1em;
}

.button {
  font-size: 1.5rem;
  display: inline-block;
  border-radius: 10px;
  padding: 0.5rem 1.2rem;
  margin: 0.5rem 1rem 2rem 1rem;
  border: 2px rgb(41, 41, 41) solid;
  background-color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.button:hover {
  background: url("static/buttonbg.png");
  cursor: pointer;
}

.notCentered {
  text-align: left;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .cont {
    width: 90%;
    padding: 1.5rem;
  }

  p {
    font-size: 18px;
  }

  .sponsorCont img {
    width: 120px;
  }

  nav li {
    width: 19vw;
  }

  nav li:nth-child(n+4) {
    width: 20vw;
  }

  .banner img {
    width: 50vw;
  }
}

@media screen and (max-width: 575px) {
  nav li {
    text-align: left;
    padding-left: 10px;
    width: 25vw;
  }

  h1 {
    font-size: 60px;
  }
}
